ul,
ol {
    list-style: none;
}

* {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

body {
    line-height: 1;
}

.header {
    border-top: 3px solid tomato;
    border-bottom: 1px solid tomato;
}

.header h1 {
    line-height: 100px;
    text-align: center;
}

.header .gnb {
    border-top: 1px solid#ddd;
}

.header .gnb>ul {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    text-align: center;
}

.header .gnb>ul>li {
    position: relative;
    flex: 1;
    line-height: 50px;
    border-left: 1px solid#ddd;
}

.header .gnb>ul>li:last-child {
    border-right: 1px solid #ddd;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 50px;
    left: 0;
    background: #ff0;
    width: 100%;
    z-index: 999;

    display: none;
}

.header .gnb>ul>li:hover ul {
    display: block;
}

main {
    position: relative;
    background: #333;
    height: 500px;
}

.footer {
    text-align: center;
    padding: 50px 0;
}